// Components composes the component templates from the components/ subpackage.
package {{.PackageName}}

import (
	comps "{{.ModulePath}}/components@v0"
)

// #components extends the component templates with module-specific configuration.
#components: {
	// Web frontend using the web component template
	web: comps.#web & {
		spec: {
			container: image: #config.web.image
			scaling: count: #config.web.scaling
			expose: ports: http: exposedPort: #config.web.port
			if #config.securityContext != _|_ {
				securityContext: #config.securityContext
			}
		}
	}

	// API backend using the api component template
	api: comps.#api & {
		spec: {
			container: image: #config.api.image
			scaling: count: #config.api.scaling
			container: ports: http: targetPort: #config.api.port
			if #config.securityContext != _|_ {
				securityContext: #config.securityContext
			}
		}
	}

	// Background worker using the worker component template
	worker: comps.#worker & {
		spec: {
			container: image: #config.worker.image
			scaling: count: #config.worker.scaling
			if #config.securityContext != _|_ {
				securityContext: #config.securityContext
			}
		}
	}

	// Database using the db component template
	db: comps.#db & {
		spec: {
			container: image: #config.db.image
			container: ports: db: targetPort: #config.db.port
			volumes: data: persistentClaim: size: #config.db.storageSize
		}
	}
}
