name: labels

on:
  push:
    branches: [main]
    paths: [.github/labels.yml]
  pull_request:
    paths: [.github/labels.yml]

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
    steps:
      - uses: actions/checkout@v4
      - uses: crazy-max/ghaction-github-labeler@v5
        with:
          yaml-file: .github/labels.yml
          dry-run: ${{ github.event_name == 'pull_request' }}
          skip-delete: false
