// API component template for backend services.
package components

import (
	resources_workload "opmodel.dev/resources/workload@v1"
	traits_workload "opmodel.dev/traits/workload@v1"
)

// #api is a reusable API server component template.
#api: {
	metadata: labels: "core.opmodel.dev/workload-type": "stateless"

	resources_workload.#Container
	traits_workload.#Scaling

	spec: {
		container: {
			name:  "api"
			image: _
			ports: http: {
				targetPort: 3000
			}
			resources: {
				requests: {
					cpu:    "200m"
					memory: "256Mi"
				}
				limits: {
					cpu:    "1000m"
					memory: "1Gi"
				}
			}
		}
		scaling: count: int | *3
	}
}
