// Web component template for frontend services.
package components

import (
	resources_workload "opmodel.dev/resources/workload@v1"
	traits_security "opmodel.dev/traits/security@v1"
	traits_workload "opmodel.dev/traits/workload@v1"
	traits_network "opmodel.dev/traits/network@v1"
)

// #web is a reusable web server component template.
#web: {
	metadata: labels: "core.opmodel.dev/workload-type": "stateless"

	resources_workload.#Container
	traits_workload.#Scaling
	traits_workload.#RestartPolicy
	traits_workload.#UpdateStrategy
	traits_network.#Expose
	traits_security.#SecurityContext

	spec: {
		restartPolicy: "Always"
		updateStrategy: type: "RollingUpdate"
		container: {
			name:  "web"
			image: _
			ports: http: {
				targetPort: 8080
			}
			resources: {
				requests: {
					cpu:    "100m"
					memory: "128Mi"
				}
				limits: {
					cpu:    "500m"
					memory: "512Mi"
				}
			}
		}
		scaling: count: int | *2
		expose: {
			ports: http: container.ports.http & {
				exposedPort: 8080
			}
			type: "ClusterIP"
		}
	}
}
